:root {
    --text-color-primary: white;
    --text-color-secondary: #c6b5fa;
    --bg-color-primary: #25272a;
    --preffered-color: #927bd6;
    --prefered-dark-color: #49317b;
}

nav {
    z-index: 99;
    top: 0px;
    position: sticky;
}
  
#menu {
    display: inline-flex;
    font-size: 1rem;
    background-color: var(--prefered-dark-color);
    width:100%;
    padding: 0;
}

@media (min-width: 450px) {
    #menu {
        font-size: 1.5rem;
        padding: 10px 0;
    }
}

#menu a {
    color: var(--text-color-primary);
}