---
layout: default
title: Recipes Listed By Tag
---

{% assign recipes_tags = site.recipes | map: 'tags' | join: ',' | split: ',' | uniq | sort %}
{% assign sorted_recipes = site.recipes | sort: 'title' %}

<h2 class="ml4">Recipes</h2>
<div id="tags">
  {% for tag in recipes_tags %}
    {% if tag == '' %}
      {% continue %}
    {% endif %}
    <h3 class="ml4">{{ tag }}</h4>
    <ul class="ml4">
      {% for recipe in sorted_recipes %}
        {% assign tags_array = recipe.tags | join: ',' | split: ',' %}
        {% if tags_array contains tag %}
          <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<div id="components">
  <h2 class="ml4">Components</h2>
    <ul class="ml4">
    {% for component in site.components %}
      <li><a href="{{ site.baseurl }}/components/{{ component.url }}">{{component.title}}</a></li>
    {% endfor %}
    </ul>
</div>