<!-- <a class="site-title fixed bg-blue p1 no-line-height top-0 left-0 z4" href="{{ site.baseurl }}/">
    {% include chowdown-logo-white.svg %}
  <h1 class="hide">{{ site.title }}</h1>
</a> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<nav role="navigation">    
    <ul id="menu">
      <a href="{{ site.baseurl }}/"><li><i class="fa fa-home fa-lg"></i> Home</li></a>
      <a href="{{ site.baseurl }}/search"><li><i class="fa fa-search fa-lg"></i> Search</li></a>
      <a href="{{ site.baseurl }}/tags"><li><i class="fa fa-tags fa-lg"></i> Tags</li></a>
      <a href="{{ site.baseurl }}/components"><li><i class="fa fa-puzzle-piece fa-lg"></i> Components</li></a>
    </ul>
</nav>