<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ "/css/nav.css" | prepend: site.baseurl }}">
<nav role="navigation">    
    <ul id="menu">
      <a href="{{ site.baseurl }}/"><li><i class="fa fa-home fa-lg"></i> {{ site.translation[site.language].home }}</li></a>
      <a href="{{ "/search" | prepend: site.baseurl}}"><li><i class="fa fa-search fa-lg"></i> {{ site.translation[site.language].search }}</li></a>
      <a href="{{ "/category" | prepend: site.baseurl}}"><li><i class="fa fa-tags fa-lg"></i> {{ site.translation[site.language].category }}</li></a>
      <a href="{{ "/tips" | prepend: site.baseurl}}"><li><i class="fa fa-info-circle fa-lg"></i> {{ site.translation[site.language].tips }}</li></a>
    </ul>
</nav>